body {
  font-family: helvetica;
  width: 1200px;
  height: auto;
  margin: auto;
  border: 1px solid transparent;
  overflow-x: hidden;
}

.banner {
  position: relative;
  text-align: left;
  overflow: hidden;
  min-height: 130px;
  min-width: 1200px;
}


.bannercap {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  white-space: nowrap;


}

.bannerpic {
  position: absolute;
  clip: rect(0px, 1200px, 130px, 0px);

}

main {
  position: absolute;
  top: 170px;
}

#brushcolor,
#paintcolor,
#framcolor {
  width: 1200px;
  overflow: hidden;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

#brushcolor {
  background-color: mediumspringgreen;
}

#framcolor {
  background-color: red;
}

#paintcolor {
  background-color: skyblue;
}

.blue {
  font-weight: bold;
  color: blue;
}
